<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedy</title>
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="../../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../../index.html">
          <img class="logo" alt="" src="../../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../../index.html#Popular">Popular</a></li>
          <li><a href="../../../index.html#Genre">Genre</a></li>
          <li><a href="../../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Genre:&nbsp</p>
        <p class="genre pt2">Comedy</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/mariposa.jpg);">
                <a href="../../movieDesc/mariposa.html"><p>Mariposa</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/imperfect.jpeg);"> 
                <a href="../../movieDesc/imperfect.html"><p>Imperfect </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/fools.jpg);">
                <a href="../../movieDesc/fools-rush-in.html"><p>Fools Rush In</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/harry.jpg);">
                <a href="../../movieDesc/when-harry-meet-sally.html"><p>When Harry Met Sally</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/loveactually.jpg);">
                <a href="../../movieDesc/love-actually.html"><p>Love Actually</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/NOTTINGHILL.jpg);">
                <a href="../../movieDesc/nothinghill.html"><p>Notting Hill</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/sleepless.jpg);">
                <a href="../../movieDesc/sleepless-in-seattle.html"><p>Sleepless in Seattle</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/bridget.jpg);">
                <a href="../../movieDesc/bridget-jones-diary.html"><p>Bridget Jones's Diary</p></a>                 
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/MODERNTIMES.jpg);">
                <a href="../../movieDesc/modern-times.html"><p>Modern Times</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/boyslovedbefore.jpg);">
                <a href="../../movieDesc/to-all-the-boys-ive-loved-before.html"><p>To All the Boys I've Loved Before</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/10hate.jpg);">
                <a href="../../movieDesc/10-things-i-hate-about-you.html"><p>10 Things I hate About You</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/crazystupid.jpg);">
                <a href="../../movieDesc/crazy-stupid-love.html"><p>Crazy, Stupid, Love</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/lifeisbeautiful.jpg);">
                <a href="../../movieDesc/life-is-beautiful.html"><p>Life Is Beautiful</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/friendsbutmarieed.jpg);">
                <a href="../../movieDesc/friends-but-married.html"><p>Friends but Married</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/okb.jpg);">
                <a href="../movieDesc/newly-rich.html"><p>Newly Rich</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/onceuponatime.jpg);">
                <a href="../../movieDesc/onceuponatimeinhollywood.html"><p>Once Upon a Time in Hollywood</p></a>       
            </article>
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="comedy5.html">&laquo;</a>
            <a href="comedy1.html">1</a>
            <a href="comedy2.html">2</a>
            <a href="comedy3.html">3</a>
            <a href="comedy4.html">4</a>
            <a href="comedy5.html">5</a>
            <a href="comedy6.html"class="active">6</a>
            <a href="comedy7.html">7</a>
            <a href="comedy8.html">8</a>
            <a href="comedy9.html">9</a>
            <a href="comedy7.html">&raquo;</a>
        </div>
    </div>

    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../../script.js"></script>
</body>
</html>