<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedy</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="../../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../../index.html">
          <img class="logo" alt="" src="../../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../../index.html#Popular">Popular</a></li>
          <li><a href="../../../index.html#Genre">Genre</a></li>
          <li><a href="../../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Genre:&nbsp</p>
        <p class="genre pt2">Comedy</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/HELLOGHOST.jpg);">
                <a href="../movieDesc/hello-ghost.html"><p>Hello Ghost </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/ggwarisan.jpeg);">
                <a href="../movieDesc/garagarawarisan.html"><p>Gara-gara Warisan</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/ttt.jpg);">
                <a href="../../movieDesc/tekatekitika.html"><p>Teka-Teki Tika</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/peemak.jpg);">
                <a href="../../movieDesc/peemak.html"><p>Pee Mak</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/hatinggame.png);">
                <a href="../../movieDesc/thehatinggame.html"><p>The Hating Game </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/stupidboss.jpg);">
                <a href="../../movieDesc/mystupidboss.html"><p>SMy Stupid Boss</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/ghostwriter.jpg);">
                <a href="../movieDesc/ghostwriter.html"><p>Ghost Writer</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/okb.jpg);">
                <a href="../movieDesc/newly-rich.html"><p>Newly Rich</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/lalaland.webp);">
                <a href="../../movieDesc/lalaland.html"><p>La La Land</p></a>              
            </article>    
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/20century.jpg);">
                <a href="../../movieDesc/20th-century-women.html"><p>20th Century Women</p></a>              
            </article>
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/greenbook.jpg);">
                <a href="../../movieDesc/green-book.html"><p>Green Book</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/nohardfeelings.jpg);">
                <a href="../../movieDesc/no-hard-feelings.html"><p>No Hard Feelings</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/shaunthedead.jpg);">
                <a href="../../movieDesc/shaun-the-dead.html"><p>Shaun of the Dead</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/zombietown.jpg);">
                <a href="../../movieDesc/zombie-town.html"><p>Zombie Town</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/happydeathday.jpg);">
                <a href="../../movieDesc/happy-death-day.html"><p>Happy Death Day</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/happydeathday2u.jpg);">
                <a href="../../movieDesc/happy-death-day-2U.html"><p>Happy Death Day 2U</p></a>              
            </article> 
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="comedy4.html">&laquo;</a>
            <a href="comedy1.html">1</a>
            <a href="comedy2.html">2</a>
            <a href="comedy3.html">3</a>
            <a href="comedy4.html">4</a>
            <a href="comedy5.html"class="active">5</a>
            <a href="comedy6.html">6</a>
            <a href="comedy7.html">7</a>
            <a href="comedy8.html">8</a>
            <a href="comedy9.html">9</a>
            <a href="comedy6.html">&raquo;</a>
        </div>
    </div>

    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../../script.js"></script>
</body>
</html>