<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover More</title>     
    <link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../../index.html#Award-Winning">Award Winning</a></li>
          <li><a href="kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Discover&nbsp</p>
        <p class="genre pt2">More</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/astroboy.jpg);">
                <a href="../movieDesc/astro-boy.html"><p>Astro Boy</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/everyoneshero.webp);"> 
                <a href="../movieDesc/everyones-hero.html"><p>Everyone's Hero</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_Thumbelina.jpg);">
                <a href="../movieDesc/barbie-thumbelina.html"><p>Barbie Presents: Thumbelina</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thecroods2.jpg);">
                <a href="../movieDesc/thecroos-newage.html"><p>The Croods: A New Age</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/supermariobrosmovie.jpg);">
                <a href="../movieDesc/the-super-mario-bros-movie.html"><p>The Super Mario Bros. Movie</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/elemental.jpg);">
                <a href="../movieDesc/elemental.html"><p>Elemental</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Powerpuff_Girls_Movie_poster.jpg);">
                <a href="../movieDesc/powerpuff-girls.html"><p>The Powerpuff Girls Movie </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/tangledeverfater.jpg);">
                <a href="../movieDesc/tangled-ever-after.html"><p>Tangled Ever After</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/PARTLYCLOUDY.jpg);">
                <a href="../movieDesc/partly-cloudy.html"><p>Partly Cloudy</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/spongebobrun.jpg);">
                <a href="../movieDesc/spongebob-sponge-on-the-run.html"><p>The SpongeBob Movie: Sponge on the Run</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_of_Swan_Lake_poster.jpg);">
                <a href="../movieDesc/barbie-swan-lake.html"><p>Barbie of Swan Lake</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Tinker_Bell_DVD.jpg);">
                <a href="../movieDesc/tinker-bell.html"><p>Tinker Bell</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/josee.jpg);">
                <a href="../movieDesc/josee-the-tiger-and-the-fish.html"><p> Josee, the Tiger and the Fish</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/luck.jpg);">
                <a href="../movieDesc/luck.html"><p>Luck</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/barbiemariposa.jpg);">
                <a href="../movieDesc/barbie-mariposa-and-her-fairy-friends.html"><p>Barbie Mariposa and Her Butterfly Fairy Friends</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_Princess_Charm_School.jpg);">
                <a href="../movieDesc/barbie-princess-charm-school.html"><p>Barbie: Princess Charm School</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_A_Fashion_Fairytale_poster.jpg);">
                <a href="../movieDesc/barbie-fashion-fairytale.html"><p>Barbie: A Fashion Fairytale</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/The_Barbie_Diaries_poster.jpg);"> 
                <a href="../movieDesc/barbie-diaries.html"><p>Barbie Diaries</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_in_A_Mermaid_Tale_2_poster.jpg);">
                <a href="../movieDesc/barbie-in-a-mermaid-tale-2.html"><p>Barbie in a Mermaid Tale 2</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_in_A_Mermaid_Tale.jpg);">
                <a href="../movieDesc/barbie-in-a-mermaid-tale.html"><p>Barbie in a Mermaid Tale</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/slime.jpg);">
                <a href="../movieDesc/that-time-i-reincarnated-as-a-slime-scarlet-bond.html"><p>That Time I Got Reincarnated as a Slime The Movie</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/knybond.webp);">
                <a href="../movieDesc/demon-slayer-kimetsunoyaiba-siblings-bond.html"><p>Demon Slayer: Kimetsu no Yaiba Sibling's Bond</p></a>              
            </article>    
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/scoob.png);">
                <a href="../movieDesc/scoob.html"><p>Scoob!</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/tomandjerry.jpg);">
                <a href="../movieDesc/tom-and-jerry.html"><p>Tom & Jerry</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/princesspopstar.png);">
                <a href="../movieDesc/barbie-princess-and-the-popstar.html"><p>Barbie: The Princess & the Popstar</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/trollsband.jpg);">
                <a href="../movieDesc/trolls-band-together.html"><p>Trolls Band Together</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/wish.jpg);">
                <a href="../movieDesc/wish.html"><p>Wish</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/mavka.jpg);">
                <a href="../movieDesc/mavka-the-forest-song.html"><p>Mavka: The Forest Song</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/blackclover.jpg);">
                <a href="../movieDesc/black-clover-sword-of-the-wizard-king.html"><p>Black Clover: Sword of the Wizard King</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/migration.jpg);">
                <a href="../movieDesc/migration.html"><p>Migration</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/nowhere.jpg);">
                <a href="../movieDesc/nowhere.html"><p>Nowhere</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/talktome.jpg);">
                <a href="../movieDesc/talk-to-me.html"><p>Talk to Me</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="All10.html">&laquo;</a>
            <a href="All.html">1</a>
            <a href="All2.html">2</a>
            <a href="All3.html">3</a>
            <a href="All4.html">4</a>
            <a href="All5.html">5</a>
            <a href="All6.html">6</a>
            <a href="All7.html">7</a>
            <a href="All8.html">8</a>
            <a href="All9.html">9</a>
            <a href="All10.html">10</a>
            <a href="All11.html"class="active">11</a>
            <a href="All12.html">12</a>
            <a href="All13.html">13</a>
            <a href="All12.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../script.js"></script>
</body>
</html>