<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover More</title>     
    <link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../../index.html#Award-Winning">Award Winning</a></li>
          <li><a href="kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Discover&nbsp</p>
        <p class="genre pt2">More</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/big-lebowski.jpg);">
                <a href="../movieDesc/the-big-lebowski.html"><p>The Big Lebowski</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thehangover.jpg);">
                <a href="../movieDesc/the-hangover.html"><p>The Hangover</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/snatch.jpg);"> 
                <a href="../movieDesc/snatch.html"><p>Snatch</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/rocky.jpg);">
                <a href="../movieDesc/rocky.html"><p>Rocky</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/air.png);">
                <a href="../movieDesc/air.html"><p>Air</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/dodgeball.jpg);">
                <a href="../movieDesc/dodgeball-a-true-underdog-story.html"><p>Dodgeball: A True Underdog Story</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/aleagueoftheirown.jpg);">
                <a href="../movieDesc/a-league-of-their-own.html"><p>A League of Their Own</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/talladega.jpg);">
                <a href="../movieDesc/talladega-nights-the-ballad-of-ricky-bobby.html"><p>Talladega Nights: The Ballad of Ricky Bobby</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thwaterboy.jpg);">
                <a href="../movieDesc/the-waterboy.html"><p>The Waterboy</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/champions.png);">
                <a href="../movieDesc/champions.html"><p>Champions</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/FARENHEIT.jpg);">
                <a href="../movieDesc/fahrenheit-9-11.html"><p>Fahrenheit 9/11</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/27steps.jpg);">
                <a href="../movieDesc/27-steps-of-may.html"><p>27 Steps of May</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/savingprivateryan.jpg);">
                <a href="../movieDesc/saving-private-ryan.html"><p>Saving Private Ryan</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/gt.png);">
                <a href="../movieDesc/GranTurismo.html"><p>Gran  Turismo</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/sawxposter.png);">
                <a href="../movieDesc/SawX.html"><p>Saw X</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/MISPOSTER.png);">
                <a href="../movieDesc/MIS.html"><p>Mission Impossible - Dead Reckoning Part One</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/themarvels.png);">
                <a href="../movieDesc/TheMarvels.html"><p>The Marvels</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/tsposter.jpg);">
                <a href="../movieDesc/TS_ERAS.html"><p>Taylor Swift - The Eras Tour</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fivenightsfreddys.png);">
                <a href="../movieDesc/FiveNightsFreddys.html"><p>Five Nights At Freddy's</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/longway.jpg);">
                <a href="../movieDesc/alongwaytocomehome.html"><p>A Long Way to Come Home</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/HELLOGHOST.jpg);">
                <a href="../movieDesc/hello-ghost.html"><p>Hello Ghost </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/ggwarisan.jpeg);">
                <a href="../movieDesc/garagarawarisan.html"><p>Gara-gara Warisan</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/ttt.jpg);">
                <a href="../movieDesc/tekatekitika.html"><p>Teka-Teki Tika</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/hatinggame.png);">
                <a href="../movieDesc/thehatinggame.html"><p>The Hating Game </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/today.jpg);">
                <a href="../movieDesc/today-well-talk-about-that-day.html"><p>Today We'll Talk About That Day</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/sleepcall.webp);">
                <a href="../movieDesc/sleep-call.html"><p>Sleep Call</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/jailangkung.jpg);">
                <a href="../movieDesc/jailangkung-sandekala.html"><p>Jailangkung: Sandekala</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/The_Doll.jpg);">
                <a href="../movieDesc/thedoll.html"><p>The Doll</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/ghostwriter.jpg);">
                <a href="../movieDesc/ghostwriter.html"><p>Ghost Writer</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/aworldwithout.jpg);">
                <a href="../movieDesc/a-world-without.html"><p>A World Without</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fall.jpg);">
                <a href="../movieDesc/fall.html"><p>Fall</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/crawl.jpg);">
                <a href="../movieDesc/crawl.html"><p>Crawl</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="All9.html">&laquo;</a>
            <a href="All.html">1</a>
            <a href="All2.html">2</a>
            <a href="All3.html">3</a>
            <a href="All4.html">4</a>
            <a href="All5.html">5</a>
            <a href="All6.html">6</a>
            <a href="All7.html">7</a>
            <a href="All8.html">8</a>
            <a href="All9.html">9</a>
            <a href="All10.html"class="active">10</a>
            <a href="All11.html">11</a>
            <a href="All12.html">12</a>
            <a href="All13.html">13</a>
            <a href="All11.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../script.js"></script>
</body>
</html>