<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover More</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../../index.html#Award-Winning">Award Winning</a></li>
          <li><a href="kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Discover&nbsp</p>
        <p class="genre pt2">More</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/mirrorgame.jpg);">
                <a href="../../movieDesc/mirror-game.html"><p>Mirror Game</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/secretwindow.jpg);">
                <a href="../../movieDesc/secret-window.html"><p>Secret Window</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thedevilallthetime.jpg);">
                <a href="../../movieDesc/the-devil-all-the-time.html"><p>The Devil All the Time</p></a>                 
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/hauntingvenice.jpeg);">
                <a href="../../movieDesc/a-haunting-in-venice.html"><p>A Haunting in Venice</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/deepwater.jpg);">
                <a href="../../movieDesc/deepwater.html"><p>Deep Water</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fairplay.jpg);">
                <a href="../../movieDesc/fair-play.html"><p>Fair Play</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/hangout.jpg);">
                <a href="../../movieDesc/hangout.html"><p>Hang Out</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/The_Mummy_\(2017\).jpg);">
                <a href="../../movieDesc/the-mummy-2017.html"><p>The Mummy</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/theflash.jpg);">
                <a href="../../movieDesc/the-flash.html"><p>The Flash</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/uncharted.jpg);">
                <a href="../../movieDesc/uncharted.html"><p>Uncharted</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/rockybalboa.jpg);">
                <a href="../../movieDesc/rocky-balboa.html"><p>Rocky Balboa</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/pokemondetective.jpg);">
                <a href="../../movieDesc/pokemon-detective-pikachu.html"><p>Pokémon: Detective Pikachu</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/dungeonsdragons.jpg);">
                <a href="../../movieDesc/dungeons-and-dragons-honor-among-thieves.html"><p>Dungeons & Dragons: Honor Among Thieves</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Ant-Man_and_the_Wasp_Quantumania_Poster_Tall.webp);">
                <a href="../../movieDesc/ant-man-and-the-wasp-quantumania.html"><p>Ant-Man and the Wasp: Quantumania</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/billandted.jpg);">
                <a href="../movieDesc/bill-and-teds-excellent-adventure.html"><p>Bill & Ted's Excellent Adventure</p></a>              
            </article>
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/evildeadrise.jpg);">
                <a href="../../movieDesc/evil-dead-rise.html"><p>Evil Dead Rise</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/harrigan.jpg);">
                <a href="../../movieDesc/mr-harrigans-phone.html"><p>Mr Harrigan's Phone</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thedevilontrial.jpg);">
                <a href="../../movieDesc/the-devil-on-trial.html"><p>The Devil on Trial</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/sisterdeath.jpg);">
                <a href="../../movieDesc/sister-death.html"><p>Sister Death</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/zombietown.jpg);">
                <a href="../../movieDesc/zombie-town.html"><p>Zombie Town</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/happydeathday.jpg);">
                <a href="../../movieDesc/happy-death-day.html"><p>Happy Death Day</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/happydeathday2u.jpg);">
                <a href="../../movieDesc/happy-death-day-2U.html"><p>Happy Death Day 2U</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/birdboxbarcelona.jpg);">
                <a href="../../movieDesc/bird-box-barcelona.html"><p>Bird Box: Barcelona</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/tsreputation.jpg);">
                <a href="../../movieDesc/TS_Reputation.html"><p>Taylor Swift: Reputation Stadium Tour</p></a>                 
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/floranson.jpg);">
                <a href="../../movieDesc/flora-and-son.html"><p>Flora and Son</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/happinesscontinues.jpg);">
                <a href="../../movieDesc/happiness-continues.html"><p>Happiness Continues</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/nohardfeelings.jpg);">
                <a href="../../movieDesc/no-hard-feelings.html"><p>No Hard Feelings</p></a>                   
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fingernails.jpg);">
                <a href="../../movieDesc/fingernails.html"><p>Fingernails</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/loverosie.jpg);">
                <a href="../../movieDesc/love-rosie.html"><p>Love, Rosie</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/aliqueens.jpg);">
                <a href="../movieDesc/ali_thequeens.html"><p>Ali & the Queens</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/throughmywindow.jpg);">
                <a href="../../movieDesc/through-my-window.html"><p>Through My Window</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/throughmywindow2.jpg);">
                <a href="../../movieDesc/through-my-window-across-the-sea.html"><p>Through My Window: Across the Sea</p></a>                 
            </article> 
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="All11.html">&laquo;</a>
            <a href="All.html">1</a>
            <a href="All2.html">2</a>
            <a href="All3.html">3</a>
            <a href="All4.html">4</a>
            <a href="All5.html">5</a>
            <a href="All6.html">6</a>
            <a href="All7.html">7</a>
            <a href="All8.html">8</a>
            <a href="All9.html">9</a>
            <a href="All10.html">10</a>
            <a href="All11.html">11</a>
            <a href="All12.html"class="active">12</a>
            <a href="All13.html">13</a>
            <a href="All13.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../script.js"></script>
</body>
</html>