<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Award Winning</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../../index.html">
          <img class="logo" alt="" src="../../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../../index.html#Popular">Popular</a></li>
          <li><a href="../../../index.html#Genre">Genre</a></li>
          <li><a href="../../../index.html#Award-Winning">Award Winning</a></li>
          <li><a href="kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Category:&nbsp</p>
        <p class="genre pt2">Award Winning</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/after.png);">
                <a href="../../movieDesc/after.html"><p>After</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/after2.jpg);">
                <a href="../../movieDesc/after-we-collided.html"><p>After We Collided</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/after3.jpg);">
                <a href="../../movieDesc/after-we-fell.html"><p>After We Fell</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/after4.jpg);">
                <a href="../../movieDesc/after-ever-happy.html"><p>After Ever Happy</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/after5.jpg);">
                <a href="../../movieDesc/after-everything.html"><p>After Everything </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/lifeisbeautiful.jpg);">
                <a href="../../movieDesc/life-is-beautiful.html"><p>Life Is Beautiful</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/whitesnake.jpg);">
                <a href="../../movieDesc/white-snake.html"><p>White Snake</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/PITCHPERFECT.jpg);">
                <a href="../../movieDesc/pitch-perfect.html"><p>Pitch Perfect</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/PITCHPERFECT2.jpg);">
                <a href="../../movieDesc/pitch-perfect-2.html"><p>Pitch Perfect 2</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/PITCHPERFECT3.jpg);">
                <a href="../../movieDesc/pitch-perfect-3.html"><p>Pitch Perfect 3</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/theweddingsinger.jpg);">
                <a href="../../movieDesc/the-wedding-singer.html"><p>The Wedding Singer</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/dirtydancing.jpg);">
                <a href="../../movieDesc/dirty-dancing.html"><p>Dirty Dancing</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Some_Like_It_Hot_\(1959_poster\).png);"> 
                <a href="../../movieDesc/some-like-it-hot.html"><p>Some Like It Hot</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/maninlove.jpg);">
                <a href="../../movieDesc/man-in-love.html"><p>Man in Love</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thenotebook.jpg);">
                <a href="../../movieDesc/the-notebook.html"><p>The Notebook</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/frozen2.jpg);">
                <a href="../../movieDesc/frozen2.html"><p>Frozen II</p></a>                 
            </article>    
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/iceagedino.jpg);">
                <a href="../../movieDesc/ice-age-dawn-of-the-dinosaurs.html"><p>Ice Age: Dawn of the Dinosaurs</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/totoro.jpg);">
                <a href="../../movieDesc/my-neighbor-totoro.html"><p>My Neighbor Totoro</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/acrosspider.jpg);">
                <a href="../../movieDesc/spiderman-across-the-spiderverse.html"><p>Spider-Man: Across the Spider-Verse</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/insideout.jpg);">
                <a href="../../movieDesc/inside-out.html"><p>Inside Out</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/toystory3.jpg);"> 
                <a href="../../movieDesc/toy-story-3.html"><p>Toy Story 3</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/coco.jpeg);">
                <a href="../../movieDesc/coco.html"><p>Coco</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/walle.jpeg);">
                <a href="../../movieDesc/wall-e.html"><p>WALL.E</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/howtotrainyoudragon2.jpg);">
                <a href="../../movieDesc/how-to-train-your-dragon-2.html"><p>How to Train Your Dragon 2</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/bighero6.jpeg);">
                <a href="../../movieDesc/big-hero-6.html"><p> Big Hero 6</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/ZOOTOPIA.jpg);">
                <a href="../../movieDesc/zootopia.html"><p>Zootopia</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/soul.jpeg);">
                <a href="../../movieDesc/soul.html"><p>Soul</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/moana.jpeg);">
                <a href="../../movieDesc/moana.html"><p>Moana</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/wolfchilden.jpg);">
                <a href="../../movieDesc/wold-children.html"><p>Wolf Children</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/luoverthewall.jpg);">
                <a href="../../movieDesc/lu-over-wall.html"><p>Lu Over the Wall</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Barbie_&_the_Diamond_Castle_cover.jpg);">
                <a href="../../movieDesc/barbie-and-the-diamond-castle.html"><p>Barbie and the Diamond Castle</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/jjk0.jpg);">
                <a href="../../movieDesc/jujutsu-kaisen-0.html"><p>Jujutsu Kaisen 0</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="AwardWinning4.html">&laquo;</a>
            <a href="AwardWinning.html">1</a>
            <a href="AwardWinning2.html">2</a>
            <a href="AwardWinning3.html">3</a>
            <a href="AwardWinning4.html">4</a>
            <a href="AwardWinning5.html"class="active">5</a>
            <a href="AwardWinning6.html">6</a>
            <a href="AwardWinning7.html">7</a>
            <a href="AwardWinning8.html">8</a>
            <a href="AwardWinning9.html">9</a>
            <a href="AwardWinning10.html">10</a>
            <a href="AwardWinning.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../../script.js"></script>
</body>
</html>
