<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Award Winning</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../../index.html#Award-Winning">Award Winning</a></li>
          <li><a href="kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Category:&nbsp</p>
        <p class="genre pt2">Award Winning</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/walktheline.jpg);">
                <a href="../../movieDesc/walk-the-line.html"><p>Walk The Line</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/highfidelity.jpg);">
                <a href="../../movieDesc/high-fidelity.html"><p>High Fidelity</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/billyelliot.jpg);">
                <a href="../../movieDesc/billy-elliot.html"><p>Billy Elliot</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/gloriousdays.jpg);">
                <a href="../../movieDesc/glorious-days.html"><p>Glorious Days</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/joker.jpg);">
                <a href="../../movieDesc/joker.html"><p>Joker</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/hellorhighwater.jpg);">
                <a href="../../movieDesc/hell-or-high-water.html"><p>Hell or High Water</p></a>       
            </article>    
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/psycho.jpg);">
                <a href="../../movieDesc/psycho.html"><p>Psycho</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/panicroom.jpg);">
                <a href="../../movieDesc/panic-room.html"><p>Panic Room</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/shutterisland.jpg);">
                <a href="../../movieDesc/shutter-island.html"><p>Shutter Island</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/parasite.jpg);">
                <a href="../../movieDesc/parasite.html"><p>Parasite</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/chinatown.jpg);">
                <a href="../../movieDesc/chinatown.html"><p>Chinatown</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/silenceofthelambs.jpg);">
                <a href="../../movieDesc/the-silence-of-the-lamb.html"><p>The Silence of the Lambs</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thedeparted.jpg);">
                <a href="../../movieDesc/the-departed.html"><p>The Departed</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/argo.jpg);">
                <a href="../../movieDesc/argo.html"><p>Argo</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/gonegirl.jpg);">
                <a href="../../movieDesc/gone-girl.html"><p>Gone Girl</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/Rear_Window_film_poster.jpg);">
                <a href="../../movieDesc/rear-window.html"><p>Rear Window</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/comeandsee.jpg);"> 
                <a href="../../movieDesc/come-and-see.html"><p>Come and See</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/memento.jpg);">
                <a href="../../movieDesc/memento.html"><p>Memento</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thelivesofothers.jpg);">
                <a href="../../movieDesc/the-lives-of-others.html"><p>The Lives of Others</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/imthinkingofendingthings.jpg);">
                <a href="../../movieDesc/im-thinking-of-ending-things.html"><p>I'm Thinking of Ending Things</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/knivesout.jpg);">
                <a href="../../movieDesc/knives-out.html"><p>Knives Out</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/theprestige.jpg);">
                <a href="../../movieDesc/the-prestige.html"><p>The Prestige</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/backtothefuture.jpg);"> 
                <a href="../../movieDesc/back-to-the-future.html"><p>Back to the Future</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/dontlookup.jpg);">
                <a href="../../movieDesc/dont-look-up.html"><p>Don't Look Up</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/beetlejuice.png);">
                <a href="../../movieDesc/beetlejuice.html"><p>Beetlejuice</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/shaunthedead.jpg);">
                <a href="../../movieDesc/shaun-the-dead.html"><p>Shaun of the Dead</p></a>              
            </article>
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/greenroom.jpg);">
                <a href="../../movieDesc/green-room.html"><p>Green Room</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/littlemermaid.jpg);">
                <a href="../../movieDesc/the-little-mermaid.html"><p>The Little Mermaid</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/monty.jpg);">
                <a href="../../movieDesc/monty-python-and-the-holy-grail.html"><p>Monty Python and the Holy Grail</p></a>                   
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/tillwemeetagain.jpg);">
                <a href="../../movieDesc/til-we-meet-again.html"><p>Till We Meet Again</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/05000-17-again-poster.jpg);">
                <a href="../../movieDesc/17-again.html"><p>17 Again</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/freakyfriday.jpg);">
                <a href="../../movieDesc/freakyfriday.html"><p>Freaky Friday</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="AwardWinning7.html">&laquo;</a>
            <a href="AwardWinning.html">1</a>
            <a href="AwardWinning2.html">2</a>
            <a href="AwardWinning3.html">3</a>
            <a href="AwardWinning4.html">4</a>
            <a href="AwardWinning5.html">5</a>
            <a href="AwardWinning6.html">6</a>
            <a href="AwardWinning7.html">7</a>
            <a href="AwardWinning8.html"class="active">8</a>
            <a href="AwardWinning9.html">9</a>
            <a href="AwardWinning10.html">10</a>
            <a href="AwardWinning9.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../script.js"></script>
</body>
</html>
