<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Award Winning</title>     
    <link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../../index.html#Award-Winning">Award Winning</a></li>
          <li><a href="kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Category:&nbsp</p>
        <p class="genre pt2">Award Winning</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/lalaland.webp);">
                <a href="../movieDesc/lalaland.html"><p>La La Land</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/astarisborn.jpg);">
                <a href="../movieDesc/a-star-is-born.html"><p>A Star Is Born</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/priscilla.jpg);"> 
                <a href="../movieDesc/priscilla.html"><p>Priscilla</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/burningbetrayal.jpg);">
                <a href="../movieDesc/burning-betrayal.html"><p>Burning Betrayal</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/poorthings.jpg);">
                <a href="../movieDesc/poorthings.html"><p>Poor Things</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fools.jpg);">
                <a href="../movieDesc/fools-rush-in.html"><p>Fools Rush In</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/thenotebook.jpg);">
                <a href="../movieDesc/thenotebook.html"><p>The Notebook</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/myfault.jpg);">
                <a href="../movieDesc/myfault.html"><p>My Fault</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/casablanca.jpg);">
                <a href="../movieDesc/casablanca.html"><p>Casablanca</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/prettywoman.jpg);">
                <a href="../movieDesc/pretty-woman.html"><p>Pretty Women</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/harry.jpg);">
                <a href="../movieDesc/when-harry-meet-sally.html"><p>When Harry Met Sally</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/loveactually.jpg);">
                <a href="../movieDesc/love-actually.html"><p>Love Actually</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/NOTTINGHILL.jpg);">
                <a href="../movieDesc/nothinghill.html"><p>Notting Hill</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/sleepless.jpg);">
                <a href="../movieDesc/sleepless-in-seattle.html"><p>Sleepless in Seattle</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/theprincessbride.jpg);">
                <a href="../movieDesc/the-princess-bride.html"><p>The Princess Bride</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/bridget.jpg);">
                <a href="../movieDesc/bridget-jones-diary.html"><p>Bridget Jones's Diary</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/brokebackmountain.jpg);">
                <a href="../movieDesc/brokeback-mountain.html"><p>Brokeback Mountain</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/ghost.jpg);"> 
                <a href="../movieDesc/ghost-1990.html"><p>Ghost</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/MODERNTIMES.jpg);">
                <a href="../movieDesc/modern-times.html"><p>Modern Times</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/yourname.webp);">
                <a href="../movieDesc/yourname.html"><p>Your Name</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/eternalsunshine.jpg);">
                <a href="../movieDesc/eternal-sunshine-of-the-spotless-mind.html"><p>Eternal Sunshine of the Spotless Mind</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/amelie.jpg);">
                <a href="../movieDesc/amelie.html"><p>Amélie</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/awalktoremember.jpg);">
                <a href="../movieDesc/awalktoremember.html"><p>A Walk to Remember</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/mebeforeyou.jpg);">
                <a href="../movieDesc/mebeforeyou.html"><p>Me Before You</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fauultinourstars.jpg);">
                <a href="../movieDesc/the-fault-in-our-stars.html"><p>The Fault in Our Stars</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fivefeetapart.jpg);">
                <a href="../movieDesc/five-feet-apart.html"><p>Five Feet Apart</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/boyslovedbefore.jpg);">
                <a href="../movieDesc/to-all-the-boys-ive-loved-before.html"><p>To All the Boys I've Loved Before</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/10hate.jpg);">
                <a href="../movieDesc/10-things-i-hate-about-you.html"><p>10 Things I hate About You</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/crazystupid.jpg);">
                <a href="../movieDesc/crazy-stupid-love.html"><p>Crazy, Stupid, Love</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fifty1.jpg);">
                <a href="../movieDesc/fifty-shades-of-grey.html"><p>Fifty Shades of Grey</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fifty2.jpg);"> 
                <a href="../movieDesc/fifty-shades-darker.html"><p>Fifty Shades Darker</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../public/fifty3.jpg);">
                <a href="../movieDesc/fifty-shades-freed.html"><p>Fifty Shades Freed</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="AwardWinning3.html">&laquo;</a>
            <a href="AwardWinning.html">1</a>
            <a href="AwardWinning2.html">2</a>
            <a href="AwardWinning3.html">3</a>
            <a href="AwardWinning4.html"class="active">4</a>
            <a href="AwardWinning5.html">5</a>
            <a href="AwardWinning6.html">6</a>
            <a href="AwardWinning7.html">7</a>
            <a href="AwardWinning8.html">8</a>
            <a href="AwardWinning9.html">9</a>
            <a href="AwardWinning10.html">10</a>
            <a href="AwardWinning5.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../script.js"></script>
</body>
</html>
