<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thriller</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="../../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../../index.html">
          <img class="logo" alt="" src="../../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../../index.html#Popular">Popular</a></li>
          <li><a href="../../../index.html#Genre">Genre</a></li>
          <li><a href="../../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Genre:&nbsp</p>
        <p class="genre pt2">Thriller</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/thewonder.jpg);">
                <a href="../../movieDesc/SawX.html"><p>The Wonder</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/sawxposter.png);">
                <a href="../../movieDesc/thewonder.html"><p>Saw X</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/MISPOSTER.png);">
                <a href="../../movieDesc/MIS.html"><p>Mission Impossible - Dead Reckoning Part One</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/fivenightsfreddys.png);"> 
                <a href="../../movieDesc/FiveNightsFreddys.html"><p>Five Nights At Freddy's</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/impetigore.jpg);">
                <a href="../../movieDesc/impetigore.html"><p>Impetigore</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/conjuring1.jpg);">
                <a href="../../movieDesc/theconjuring.html"><p>The Conjuring</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/insidious.jpg);">
                <a href="../../movieDesc/insidious.html"><p>Insidious </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/getout.jpg);">
                <a href="../../movieDesc/get-out.html"><p>Get Out</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/mama.jpg);">
                <a href="../../movieDesc/mama.html"><p>Mama</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/sleepcall.webp);">
                <a href="../../movieDesc/sleep-call.html"><p>Sleep Call</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/The_Doll.jpg);">
                <a href="../../movieDesc/thedoll.html"><p>The Doll</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/fall.jpg);">
                <a href="../../movieDesc/fall.html"><p>Fall</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/nowhere.jpg);">
                <a href="../../movieDesc/nowhere.html"><p>Nowhere</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/talktome.jpg);">
                <a href="../../movieDesc/talk-to-me.html"><p>Talk to Me</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/Bird_Box_\(film\).png);">
                <a href="../../movieDesc/bird-box.html"><p>Bird Box</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/joker.jpg);">
                <a href="../../movieDesc/joker.html"><p>Joker</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="thriller1.html"class="active">1</a>
            <a href="thriller2.html">2</a>
            <a href="thriller3.html">3</a>
            <a href="thriller2.html">&raquo;</a>
        </div>
    </div>
    
    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../../script.js"></script>
</body>
</html>