<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Demon Slayer: Kimetsu no Yaiba Sibling's Bond</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/knybond.webp" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2019 | Not Rated </p>
            <p class="movieTitle">Demon Slayer: Kimetsu <br>no Yaiba Sibling's Bond</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 8.6/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Animation/animation1.html"><button>Animation</button></a>
              <a href="../movieGenre/Fantasy/fantasy1.html"><button>Fantasy</button></a>
              <a href="../movieGenre/Action/action1.html"><button>Action</button></a>
            </div>
            <div class="synopsis">
              <p>
                A young man's family is brutally slaughtered and the only survivor, his sister, has turned into a Demon. The young man embarks on a journey to seek out the Demon that killed their family, and turn his sister back into a human.
              </p>
              <div class="director">
                <p class="director">Directed by: Haruo Sotozaki</p>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="1263" height="480" src="https://www.youtube.com/embed/gxM1j64w4fk" title="Demon Slayer: Kimetsu no Yaiba Official English Dub Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>