<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>La La Land</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/lalaland.webp" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2016 | PG-13 </p>
            <p class="movieTitle">La La Land</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 8.0/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Comedy/comedy1.html"><button>Comedy</button></a>
              <a href="../movieGenre/Drama/drama1.html"><button>Drama</button></a>
              <a href="../movieGenre/Music/music1.html"><button>Music</button></a>
              <a href="../movieGenre/Romance/romance1.html"><button>Romance</button></a>
            </div>
            <div class="synopsis">
              <p>
                When Sebastian, a pianist, and Mia, an actress, try to fulfill their dreams and achieve success in their respective fields, they are caught in a choice between love and career.
              </p>
                <div class="director">
                  <p class="director">Directed by: Damien Chazelle</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="700" height="394" src="https://www.youtube.com/embed/0pdqf4P9MB8" title="La La Land (2016 Movie) Official Trailer – &#39;Dreamers&#39;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards">
                    <p class="event">2017 Oscar</p>
                    <p class="wins">Best Performance by an Actress in a Leading Role <br>Best Achievement in Directing <br><br> <br><br><br><br></p>
                </div>
            </div>

            <div class="actors">
                <p class="ACTORS">ACTORS</p>
                <p class="allactors">
                  Ryan Gosling <br>
                  Emma Stone <br>
                  John Legend <br>
                  J.K. Simmons <br>
                  Rosemarie DeWitt <br>
                  Finn Wittrock <br>
                  Damien Chazelle <br>
                  Austin Stowell
                </p>
            </div>
    </div>

    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>

    <script src="../../script.js"></script>

</body>
</html>