<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Me Before You</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/mebeforeyou.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2016 | PG-13</p>
            <p class="movieTitle">Me Before You</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 7.4/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Romance/romance1.html"><button>Romance</button></a>
              <a href="../movieGenre/Drama/drama1.html"><button>Drama</button></a>
            </div>
            <div class="synopsis">
              <p>
                Louisa Clark accepts the job of being a caretaker of Will Traynor, a rigid man who has paralysis. However, her life transforms as the two, gradually, form a bond and later fall in love.
              </p>
              <div class="director">
                <p class="director">Directed by: Thea Sharrock</p>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="1280" height="610" src="https://www.youtube.com/embed/Eh993__rOxA" title="Me Before You Official Trailer #1 (2016) -  Emilia Clarke, Sam Claflin Movie HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards"> 
                  <p class="event">2017 ASCAP Award</p>
                  <p class="wins">Top Box Office Films<br><br><br><br><br> <br><br></p>
                </div>
            </div>

            <div class="actors">
              <p class="ACTORS">ACTORS</p>
              <p class="allactors">  
                Emilia Clarke <br>
                Sam Claflin  <br>
                Jenna Coleman <br>
                Matthew Lewis <br>
                Charles Dance <br>
                Stephen Peacocke <br>
                Janet McTeer <br>
                Brendan Coyle
              </p>
          </div>
    </div>
    
    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>