<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Miracle in Cell No.7</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/miraclcell.jpg " alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2022 | TV-14</p>
            <p class="movieTitle">Miracle in Cell No.7</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 7.7/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Comedy/"><button>Comedy</button></a>
              <a href="../movieGenre/Drama/drama1.html"><button>Drama</button></a>
            </div>
            <div class="synopsis">
              <p>
                Dodo Rozak just wants to be a good father to his daughter, Kartika, despite his limited intelligence, acts and behaves like children. In fact, it is Kartika who takes care of her father most of the time. Both live happily.
              </p>
                <div class="director">
                  <p class="director">Directed by: Hanung Bramantyo</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="700" height="394" src="https://www.youtube.com/embed/0uf6QUacVgs" title="Official Trailer ‘Miracle In Cell No 7’ | 8 September 2022 di Bioskop" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards">
                    <p class="event">2023 Maya Awards</p>
                    <p class="wins">Best Actor in a Leading Role<br>Best Young Performer<br><br><br><br><br><br></p>
                </div>
            </div>

            <div class="actors">
                <p class="ACTORS">ACTORS</p>
                <p class="allactors">
                  Vino G. Bastian <br>
                  Indro Warkop <br>
                  Tora Sudiro <br>
                  Bryan Dimas <br>
                  Enzy Storia <br>
                  Raquel Katie <br>
                  Rendi Khitan <br>
                  Dimas Seto
                </p>
            </div>
    </div>

    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>

    <script src="../../script.js"></script>

</body>
</html>