<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Monty Python and the Holy Grail</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/monty.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">1975 | PG</p>
            <p class="movieTitle">Monty Python and <br>the Holy Grail</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 8.2/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Fantasy/fantasy1.html"><button>Fantasy</button></a>
              <a href="../movieGenre/Adventure/adventure1.html"><button>Adventure</button></a>
              <a href="../movieGenre/Comedy/comedy1.html"><button>Comedy</button></a>
            </div>
            <div class="synopsis">
              <p>
                King Arthur and his knights are tasked by God to find the legendary Holy Grail. During their journey, they encounter various people and obstacles that hinder them on their quest.
              </p>
              <div class="director">
                <p class="director">Directed by: Terry Gilliam & Terry Jones</p>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="1280" height="610" src="https://www.youtube.com/embed/4b52A3sKz-I" title="Monty Python and the Holy Grail - Trailer Fall 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards"> 
                  <p class="event">2014 Online Film & Television Association</p>
                  <p class="wins">Motion Picture<br> <br><br><br><br> <br><br></p>
                </div>
            </div>

            <div class="actors">
              <p class="ACTORS">ACTORS</p>
              <p class="allactors">  
                Graham Chapman <br>
                John Cleese <br>
                Terry Gilliam <br>
                Eric Idle <br>
                Terry Jones <br>
                Michael Palin <br>
                Neil Innes <br>
                Carol Cleveland
              </p>
          </div>
    </div>
    
    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>