<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Photocopier</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/photocopier.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2021 | TV-MA</p>
            <p class="movieTitle">Photocopier</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 6.8/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Drama/drama1.html"><button>Drama</button></a>
              <a href="../movieGenre/Mystery/mystery1.html"><button>Mystery</button></a>
            </div>
            <div class="synopsis">
              <p>
                Sur loses her scholarship after inappropriate photos of her at a party surface online, forcing her to team up with a photocopy worker to find out what happened at the party and who took the photos.
              </p>
                <div class="director">
                  <p class="director">Directed by: Wregas Bhanuteja</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="700" height="394" src="https://www.youtube.com/embed/jiAcriibQwU" title="Penyalin Cahaya | Trailer Resmi | Netflix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards">
                    <p class="event">2021 Festival Film Indonesia</p>
                    <p class="wins"> Best Film <br> Best Actor <br>Best Supporting Actor <br>Best Original Screenplay <br>Best Cinematography <br>Best Director <br>Best Original Score </p>
                </div>
            </div>

            <div class="actors">
                <p class="ACTORS">ACTORS</p>
                <p class="allactors">
                  Shenina Cinnamon <br>
                  Chicco Kurniawan <br>
                  Jerome Kurnia <br>
                  Giulio Parengkuan <br>
                  Dea Panendra <br>
                  Lutesha <br>
                  Lukman Sardi <br>
                  Ruth Marini
                </p>
            </div>
    </div>

    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>

    <script src="../../script.js"></script>
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
    });
    </script>

</body>
</html>