<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Schindler's List</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/SCHINDLER.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">1993 | R</p>
            <p class="movieTitle">Schindler's List</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 9.0/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Drama/drama1.html"><button>Drama</button></a>
              <a href="../movieGenre/Biography/biography1.html"><button>Biography</button></a>
            </div>
            <div class="synopsis">
              <p>
                Businessman Oskar Schindler arrives in Krakow in 1939, ready to make his fortune from World War II, which has just started. After joining the Nazi party primarily for political expediency, he staffs his factory with Jewish workers for similarly pragmatic reasons. When the SS begins exterminating Jews in the Krakow ghetto, Schindler arranges to have his workers protected to keep his factory in operation, but soon realizes that in so doing, he is also saving innocent lives.
              </p>
              <div class="director">
                <p class="director">Directed by: Steven Spielberg</p>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="1280" height="610" src="https://www.youtube.com/embed/gG22XNhtnoY" title="Schindler&#39;s List (1993) Official Trailer - Liam Neeson, Steven Spielberg Movie HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards"> 
                  <p class="event">1994 Oscar</p>
                  <p class="wins">Best Picture<br>Best Director<br>Best Cinematography<br>Best Art Direction-Set Decoration<br>Best Film Editing<br> Best Music, Original Score<br><br></p>
                </div>
            </div>

            <div class="actors">
              <p class="ACTORS">ACTORS</p>
              <p class="allactors">  
                Liam Neeson <br>
                Ben Kingsley <br>
                Ralph Fiennes <br>
                Caroline Goodall <br>
                Embeth Davidtz <br>
                Schindler <br>
                Itzhak Stern <br>
                Mietek Kielcewicz
              </p>
          </div>
    </div>
    
    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>