<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>School of Rock</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/schoolofrock_2003_advance_original_film_art.webp" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2003 | PG-13</p>
            <p class="movieTitle">School of Rock</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 7.2 /10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Comedy/comedy1.html"><button>Comedy</button></a>
              <a href="../movieGenre/Music/music1.html"><button>Music</button></a>
            </div>
            <div class="synopsis">
              <p>
                Dewey Finn, an amateur rock enthusiast, slyly takes up his friend's job by posing as a substitute teacher. Bearing no qualifications for it, he instead starts training the students to form a band.
              </p>
                <div class="director">
                  <p class="director">Directed by: Richard Linklater</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TExoc0MG4I4?si=0amiwKegF6FCSYAm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards">
                    <p class="event">2004 British Comedy Awards</p>
                    <p class="wins"> Best Comedy Film <br><br><br> <br><br><br><br></p>
                </div>
            </div>

            <div class="actors">
                <p class="ACTORS">ACTORS</p>
                <p class="allactors">
                  Jack Black <br>
                  Miranda Cosgrove <br>
                  Joey Ramone <br>
                  Adam Pascal <br>
                  Mary McCormack  <br>
                  Paul Rudd <br>
                  Sarah Silverman <br>
                  Brittany Snow
                </p>
            </div>
    </div>

    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>

    <script src="../../script.js"></script>

</body>
</html>