<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>Shutter Island</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/shutterisland.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2010 | R</p>
            <p class="movieTitle">Shutter Island</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 6.8/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Mystery/mystery1.html"><button>Mystery</button></a>
              <a href="../movieGenre/Thriller/thriller1.html"><button>Thriller</button></a>
            </div>
            <div class="synopsis">
              <p>
                Teddy Daniels and Chuck Aule, two US marshals, are sent to an asylum on a remote island in order to investigate the disappearance of a patient, where Teddy uncovers a shocking truth about the place.
              </p>
              <div class="director">
                <p class="director">Directed by: Martin Scorsese</p>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="1263" height="480" src="https://www.youtube.com/embed/v8yrZSkKxTA" title="Shutter Island (2010) Trailer #1 | Movieclips Classic Trailers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards"> 
                  <p class="event">2010 National Board of Review</p>
                  <p class="wins">Best Production Design<br>Top Ten Films <br><br> <br><br><br><br></p>
                </div>
            </div>

            
            <div class="actors">
              <p class="ACTORS">ACTORS</p>
              <p class="allactors">  
                Leonardo DiCaprio <br>
                Mark Ruffalo <br>
                Ben Kingsley <br>
                Michelle Williams <br>
                Emily Mortimer <br>
                Max von Sydow <br>
                Jackie Earle Haley <br>
                Daniel Day-Lewis
              </p>
          </div>
    </div>
    
    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>