<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>The Hunger Games: Mockingjay - Part 1</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/hungergames2014.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2014 | PG-13</p>
            <p class="movieTitle">The Hunger Games: <br>Mockingjay - Part 1</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 6.6/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Action/action1.html"><button>Action</button></a>
              <a href="../movieGenre/Adventure/adventure1.html"><button>Adventure</button></a>
              <a href="../movieGenre/Scifi/scifi1.html"><button>Sci-Fi</button></a>
            </div>
            <div class="synopsis">
              <p>
                Katniss Everdeen is in District 13 after she shatters the games forever. Under the leadership of President Coin and the advice of her trusted friends, Katniss spreads her wings as she fights to save Peeta and a nation moved by her courage.
              </p>
              <div class="director">
                <p class="director">Directed by: John G. Avildsen</p>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="1263" height="480" src="https://www.youtube.com/embed/3PkkHsuMrho" title="The Hunger Games: Mockingjay - Part 1 Official Trailer #1 (2014) - THG Movie HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards"> 
                  <p class="event">2015 Kids' Choice Awards</p>
                  <p class="wins">Favorite Movie<br>Favorite Female Action Star <br>Favorite Male Action Star <br> <br><br><br><br></p>
                </div>
            </div>
            <div class="actors">
              <p class="ACTORS">ACTORS</p>
              <p class="allactors">   
                Jennifer Lawrence <br>
                Josh Hutcherson <br>
                Liam Hemsworth <br>
                Woody Harrelson <br>
                Elizabeth Banks <br>
                Julianne Moore <br>
                Philip Seymour Hoffman <br>
                Donald Sutherland
              </p>
          </div>
    </div>
    
    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>
    <script src="../../script.js"></script>
</body>
</html>