<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>The Croods</title>
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/thecroods.jpg" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2013 | PG</p>
            <p class="movieTitle">The Croods</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 7.2/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Animation/animation1.html"><button>Animation</button></a>
              <a href="../movieGenre/Adventure/adventure1.html"><button>Adventure</button></a>
              <a href="../movieGenre/Action/action1.html"><button>Action</button></a>
            </div>
            <div class="synopsis">
              <p>
                When their cave shelter is destroyed, the Crood family goes on a journey and goes on an adventure. They discover an amazing new world filled with extraordinary creatures.
              </p>
                <div class="director">
                  <p class="director">Directed by: Chris Sanders & Kirk DeMicco</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="700" height="394" src="https://www.youtube.com/embed/4fVCKy69zUY" title="The Croods - Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
        <div class="awards">
            <p class="AWARDS">AWARDS</p>
            <div class="allAwards">
                <p class="event">2014 Annie Awards</p>
                <p class="wins"> Outstanding Achievement in Character Animation in a Feature Production <br>Outstanding Achievement in Character Design in an Animated Feature Production <br>Outstanding Achievement in Animated Effects in an Animated Production</p>
                <p class="event">2013 BMI Film & TV Awards</p>
                <p class="wins"> Film Music <br> <br></p>
            </div>
        </div>
    </div>

    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>

    <script src="../../script.js"></script>

</body>
</html>