<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="../../movie.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
    <title>The Quiet Girl</title>     
	<link rel="icon" type="image/x-icon" href="../../public/favicon.ico">
</head>
<body>
    <header>
        <a href="../../index.html">
          <img class="logo" alt="" src="../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../../index.html#Popular">Popular</a></li>
          <li><a href="../../index.html#Genre">Genre</a></li>
          <li><a href="../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <div class="movieDesc">
        <img src="../../public/thequietgirl.png" alt="" class="poster">
        <div class="MovieDetail">
            <p class="yearRate">2022 | PG-13</p>
            <p class="movieTitle">The Quiet Girl</p>
            <div class="imdb">
              <img class="vector-icon1" alt="" src="../../public/vector1.svg" />
              <p class="imdbRating">IMDb rating 7.7/10</p>
            </div>
            <div class="genre">
              <a href="../movieGenre/Drama/drama1.html"><button>Drama</button></a>
            </div>
            <div class="synopsis">
              <p>
                Rural Ireland 1981. A quiet, neglected girl is sent away from her dysfunctional family to live with foster parents for the summer. She blossoms in their care, but in this house where there are meant to be no secrets, she discovers one.
              </p>
                <div class="director">
                  <p class="director">Directed by: Colm Bairéad</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="subpage">
        <hr class="section">
        <iframe width="700" height="394" src="https://www.youtube.com/embed/LGWyqty2m-A" title="The Quiet Girl - Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="additionalInfo">
            <div class="awards">
                <p class="AWARDS">AWARDS</p>
                <div class="allAwards">
                    <p class="event">2022 Berlin International Film Festival</p>
                    <p class="wins"> Best Feature Film <br> Children's Jury - Film </p>
                    <p class="event">2022 European Film Awards</p>
                    <p class="wins">European Cinematographer <br> <br><br></p>
                </div>
            </div>

            <div class="actors">
                <p class="ACTORS">ACTORS</p>
                <p class="allactors">
                  Catherine Clinch <br>
                  Carrie Crowley <br>
                  Andrew Bennett <br>
                  Michael Patric <br>
                  Kate Nic Chonaonaigh <br>
                  Carolyn Bracken <br>
                  Norette Leahy <br>
                  Joan Sheehy
                </p>
            </div>
    </div>

    <footer class="contact" id="ContactUs">
      <div class="ctc">
        <p class="contactText">
          Contact Us: <br>
          ABC Movies <br>
           abcmoviesssss@gmail.com<br>
          +62 852 6002 3714 <br>
          © 2023  
          </p>
      </div>
    </footer>

    <script src="../../script.js"></script>

</body>
</html>