<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance</title>
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="../../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../../index.html">
          <img class="logo" alt="" src="../../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../../index.html#Popular">Popular</a></li>
          <li><a href="../../../index.html#Genre">Genre</a></li>
          <li><a href="../../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Genre:&nbsp</p>
        <p class="genre pt2">Romance</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/empireoflight.png);">
                <a href="../../movieDesc/EmpireofLight.html"><p>Empire of Light</p></a>       
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/dilan1990.jpg);">
                <a href="../../movieDesc/dilan1990.html"><p>Dilan 1990</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/mariposa.jpg);">
                <a href="../../movieDesc/mariposa.html"><p>Mariposa</p></a>                   
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/imperfect.jpeg);"> 
                <a href="../../movieDesc/imperfect.html"><p>Imperfect </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/titanic.webp);">
                <a href="../../movieDesc/titanic.html"><p>Titanic</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/shapeofwater.jpg);">
                <a href="../../movieDesc/the-shape-of-water.html"><p>The Shape of Water</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/phantomthread.jpg);">
                <a href="../../movieDesc/phantom-thread.html"><p>Phantom Thread</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/callmebyurname.jpg);">
                <a href="../../movieDesc/call-me-by-your-name.html"><p>Call Me by Your Name</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/habibieainun.jpg);">
                <a href="../../movieDesc/habibie&ainun.html"><p>Habibie & Ainun</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/sinking.jpg);">
                <a href="../../movieDesc/the-sinking-of-van-der-wijck.html"><p>The Sinking of Van Der Wijck</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/romeojuliet.jpg);">
                <a href="../../movieDesc/romeo-juliet.html"><p>Romeo + Juliet </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/purplehearts.webp);">
                <a href="../../movieDesc/purple-hearts.html"><p>Purple Hearts</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/hatinggame.png);">
                <a href="../../movieDesc/thehatinggame.html"><p>The Hating Game </p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/beautynthebeast.jpg);">
                <a href="../../movieDesc/beauty-and-the-beast.html"><p>Beauty and the Beast</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/today.jpg);">
                <a href="../../movieDesc/today-well-talk-about-that-day.html"><p>Today We'll Talk About That Day</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/forrestgump.jpg);">
                <a href="../../movieDesc/forrest-grump.html"><p>Forrest Gump</p></a>              
            </article>  
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="romance1.html"class="active">1</a>
            <a href="romance2.html">2</a>
            <a href="romance3.html">3</a>
            <a href="romance4.html">4</a>
            <a href="romance5.html">5</a>
            <a href="romance2.html">&raquo;</a>
        </div>
    </div>

    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../../script.js"></script>
</body>
</html>