<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drama</title>     
	<link rel="icon" type="image/x-icon" href="../../../public/favicon.ico">
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="../../../genre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dela Gothic One:wght@400&display=swap" />
</head>
<body>
    <header>
        <a href="../../../index.html">
          <img class="logo" alt="" src="../../../public/logo2.png">
        </a>
    
        <ul class="container">
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../../index.html#Popular">Popular</a></li>
          <li><a href="../../../index.html#Genre">Genre</a></li>
          <li><a href="../../movieCategory/AwardWinning.html">Award Winning</a></li>
          <li><a href="../../movieCategory/kids.html">Kids</a></li>
          <li><a href="#ContactUs">Contact Us</a></li>
        </ul>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <h2 class="title">
        <p class="genre pt1">Genre:&nbsp</p>
        <p class="genre pt2">Drama</p>
    </h2>

    <div class="subpage">
        <main class="grid">
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/CODA.webp);"> 
                <a href="../../movieDesc/CODA.html"><p>CODA</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/coyoteugly.jpg);">
                <a href="../../movieDesc/coyote-ugly.html"><p>Coyote Ugly</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/dirtydancing.jpg);">
                <a href="../../movieDesc/dirty-dancing.html"><p>Dirty Dancing</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/beginagain.jpg);">
                <a href="../../movieDesc/begin-again.html"><p>Begin Again</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/stepup.jpg);">
                <a href="../../movieDesc/step-up.html"><p>Step Up</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/soundofmetal.jpg);">
                <a href="../../movieDesc/sound-of-metal.html"><p>Sound of Metal</p></a>                 
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/highfidelity.jpg);">
                <a href="../../movieDesc/high-fidelity.html"><p>High Fidelity</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/billyelliot.jpg);">
                <a href="../../movieDesc/billy-elliot.html"><p>Billy Elliot</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/gloriousdays.jpg);">
                <a href="../../movieDesc/glorious-days.html"><p>Glorious Days</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/iamwhatiam.jpg);">
                <a href="../../movieDesc/i-am-what-i-am.html"><p>I Am What I Am</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/fromuponpoppyhill.jpg);">
                <a href="../../movieDesc/from-up-poppy-hill.html"><p>From Up on Poppy Hill</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/almostfamous.jpg);">
                <a href="../../movieDesc/almost-famous.html"><p>Almost Famous</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/8mile.jpg);">
                <a href="../../movieDesc/8-mile.html"><p>8 Mile</p></a>              
            </article>    
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/intouchables.jpg);">
                <a href="../../movieDesc/theintouchables.html"><p>The Intouchables</p></a>                 
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/greenroom.jpg);">
                <a href="../../movieDesc/green-room.html"><p>Green Room</p></a>              
            </article>
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/darkknight.jpg);">
                <a href="../../movieDesc/the-dark-knight.html"><p>The Dark Knight</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/LEON.jpg);">
                <a href="../../movieDesc/leon-the-professional.html"><p>Léon: The Professional</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/peemak.jpg);">
                <a href="../../movieDesc/peemak.html"><p>Pee Mak</p></a>              
            </article> 
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/satanslave2.jpg);">
                <a href="../../movieDesc/satanslave2_communion.html"><p>Satan's Slaves 2: Communion</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/thebatman.jpeg);">
                <a href="../../movieDesc/TheBatman.html"><p>The Batman </p></a>              
            </article>
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/satanslave.jpg);"> 
                <a href="../../movieDesc/santanslaves.html"><p>Satan's Slaves</p></a>              
            </article>   
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/radensaleh.jpg);">
                <a href="../../movieDesc/StealingRadenSaleh.html"><p>Stealing Raden Saleh</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/thewhale.png);">
                <a href="../../movieDesc/TheWhale.html"><p>The Whale</p></a>              
            </article>  
            <article class="item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../../public/wometalk.jpg);">
                <a href="../../movieDesc/womentalking.html"><p>Women Talking</p></a>              
        </main>
    </div>

    <div class="subpage2">
        <div class="pagination">
            <a href="drama6.html">&laquo;</a>
            <a href="drama1.html">1</a>
            <a href="drama2.html">2</a>
            <a href="drama3.html">3</a>
            <a href="drama4.html">4</a>
            <a href="drama5.html">5</a>
            <a href="drama6.html">6</a>
            <a href="drama7.html"class="active">7</a>
            <a href="drama8.html">8</a>
            <a href="drama9.html">9</a>
            <a href="drama8.html">&raquo;</a>
        </div>
    </div>

    <footer class="contact" id="ContactUs">
        <div class="ctc">
          <p class="contactText">
            Contact Us: <br>
            ABC Movies <br>
             abcmoviesssss@gmail.com<br>
            +62 852 6002 3714 <br>
            © 2023  
            </p>
        </div>
      </footer>
  
    <script src="../../../script.js"></script>
</body>
</html>